<h1>Home</h1>

<% @users.each do |user| %>
  <div id="user-box_<%= user[:id].to_s %>" class="user-mod-btn">
    <%= link_to user[:username], user_path(user), remote: true %>
    <%= link_to 'edit', edit_user_registration_path %>
    <%= link_to 'delete', user_registration_path, method: :delete %>
  </div>
<% end %>
